/* reset */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* addressing mobile design first */

html {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {font: 1.1em 'Open Sans', Helmet, Freesans, sans-serif;}
input, select, textarea, button{font: inherit;}

body, select, input, textarea {color: #555;}




/*	j.mp/webkit-tap-highlight-color -- this is pretty cool*/
/*a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}
*/

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

#construction {
    background-color: #fff;
}

#fixed_header {
    position: fixed;
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:hover {
    -webkit-filter: opacity(0.8);
}

header {
    position: relative;
    background-color: #111;
    color: #fff;
}

nav {
    position: absolute;
    visibility: hidden;
}

.next {
    position: absolute;
    visibility: hidden;
}

#h_content {
    padding-top: 0%;
    text-align: center;
}

#me {
    font-size: 2.4em;
    font-weight: 300;
}

#social a img {
    width: 2.5em;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#social a img:hover {
    -webkit-filter: opacity(0.6);
}

/* main content of the page */


h2 {
    padding: .3em 3%;
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    background-color: #111;
    width: 7em;
}

h3 {
    font-size: 1.3em;
    padding-bottom: .6em;
}

.container {
    padding-top: 2vh;
    width: 100%;
}

.content {
    padding: 1em 3%;
    text-align: justify;
}


/* Footer */
footer {
    color: #fff;
    background-color: #555;
}

#contact {
    margin-top: 4%;
    margin-left: 1%;
    margin-bottom: 0.5em;
}

.input {
    margin-bottom: .5em;
    padding: 0.2em;
    border-style: solid;
    border-width: thin;
    border-color: #292929;
    border-radius: .2em;
    width: 97%
}

#submit {
    padding: .8em 3em;
    background: #fff;
    border-style: solid;
    border-width: thin;
    border-color: #292929;
    border-radius: .2em;
}

#submit:hover {
    background-color: #bfbfbf;
}

#footer_social img {
    width: 0px;
}
#footer_social {
    position: absolute;
    visibility: hidden;
}

#copyright {
    text-align: center;
}

/* Desktop
-------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {

    .white_text {
    color: #fff;
    }
    body {font-size: 1.7em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/construction_bg.jpeg);
    }
    a:hover {color: #868686;}		

    section, header {
        position: relative;
        height: 100vh;
    }
    header {
        min-height: 18em;
    }
    section {
        min-height: 24.5em;
    }
    .next {
        visibility: visible;
        width: 100%;
        bottom: 2%;
        text-align: center;
        vertical-align: bottom;
    }

    header {
        background-color: #000;
        background: transparent;
        background-size: auto;
        background-position: center;

    }
    #h_content {
        padding-top: 20vh;
    }

    #me {
        font-size: 2.4em;
        font-weight: 300;
    }

    #menu {
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        margin-top: 10vh;
        font-size: 0.8em;
    }

    nav {
        position: relative;
        visibility: visible;
    }

    nav ul {
        position: relative;
        padding: 1% 0%;

    }

    nav li {
        display: inline-block;
        padding: 0% 1%;
        margin: 0%;
        font-weight: 300;
    }

    #fixed_header {
        visibility: visible;
        width: 100%;
        background-color: #fff;
        border-bottom: .5em #000;
    }


    /* footer */

    footer {
        margin-top: 2em;
        background: transparent;
        background-size: cover;
        background-position: bottom;
    }
    #contact-title {
        background: none;
    }

    #f_content {
        display: flex;
    }

    #contact {
        margin-top: 4%;
        margin-left: 10%;
        margin-bottom: 4%;
        width: 60%;
    }

    .input {
        margin-bottom: 1em;
        padding: .4em;
        border-style: solid;
        border-width: thin;
        border-color: #292929;
        border-radius: .2em;
        width: 97%;
    }

    #footer_social {
        visibility: visible;
        margin-top: 4%;
        margin-left: 10%;
    }

    #footer_social a img {
        width: 2.5em;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    #footer_social a img:hover {
        -webkit-filter: opacity(0.6);
    }
    #submit {
        padding: .6em 3em;
        background: #fff;
        border-style: solid;
        border-width: thin;
        border-color: #292929;
        border-radius: .2em;
    }
}